
.logo {
  text-align: center;
}
.space {
    height: 59px;
}

.cakes-container {
    display: flex;
    flex-wrap: wrap;
}

.center-navbar {
  text-align: center;
  width: 100%;
}

.center-navbar .navbar {
  display: inline-block;
  
}
.navbar {
  width: auto;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  font-size: 30px;
  text-align: center;
}

.flex-phone {
  background-color: #f1f1f1;
  padding: 10px;
  flex: 33%;
}

.flex-instagram {
  background-color: #f1f1f1;
  padding: 10px;
  flex: 33%;
}

.flex-gmail {
  background-color: #f1f1f1;
  padding: 10px;
  flex: 33%;
}



.card {
    flex: 33%;
    margin: auto;
    background-color: #f1f1f1;
  }

.card-img-top {
    width: 100%;
    height: 25vw;
    object-fit: cover;
}



  .gallery {
    display: flex;
    flex-wrap: wrap;
    margin-top: 2% ;
    padding-left: 5%;
    padding-right: 20%;
    padding-top: 2%;
    padding-bottom: 2%;
    justify-content: center;
    
  }

  .galleryPicture {
    width: 20%;
    height: 50vh;
    margin-left: 10%;
    margin-bottom: 5%;
    
  }

  .galleryPicture img{
    width: 32.5vh;
    height: 50vh;
  }

  @media screen and (max-width: 700px) {
    .card {
        flex: 100%;
        margin: auto;
        background-color: #f1f1f1;
      }
      .card-img-top {
        width: 100%;
        height: 55vw;
        object-fit: cover;
    }

    .galleryPicture {
      width: 100%;
    }
  }


@media screen and (max-width: 1100px) and (min-width :700px ) {
    .card {
        flex: 50%;
        margin: auto;
        background-color: #f1f1f1;
      }
      .card-img-top {
        width: 100%;
        height: 40vw;
        object-fit: cover;
    }

    .galleryPicture {
      width: 40%;
  
    }
  }


