Card {

}
#space {
    height: 2em;
}

.space {
    height: 59px;
}

.cakes-container {
    display: flex;
    flex-wrap: wrap;
}

.card {
    flex: 33%;
    margin: auto;
    background-color: #AAA ;
  }

.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}